html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* #a6380c, #b04013, #ce5d11, #e86e1b, #f67925, #fc7f2a */
html,
body {
  background: #fc8d25;
  background-image: linear-gradient(#b04013, #fc8d25, #fc8d25);
  background-repeat: no-repeat;
  color: #ffef4f;
  font-family: questa-sans, sans-serif;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  touch-action: manipulation;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
textarea,
input,
button {
  background-color: white;
  border: none;
  border-radius: 0.375rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  font-size: 1.0rem;
  line-height: 1.25;
  margin: 0 0.375rem;
  padding: 0.375rem 0.625rem 0.3125rem 0.625rem;
  font-weight: 800;
}
@media (min-width:500px) {
  textarea,
  input,
  button {
    border-radius: 0.375rem;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
  }
}
textarea:hover,
input:hover,
button:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}
button {
  background-color: #2374ff;
  color: #fff;
  cursor: pointer;
  font-size: 1.0625rem;
  width: 7.0rem;
}
button:hover {
  background-color: #2356ff;
}
/* taco time */
div#root {
  margin: 0 auto;
  max-width: 70.0rem;
  text-align: center;
}
/* header */
div.header {
  overflow: hidden;
  padding: 0 0 0.25rem 0;
}
div.header.home {
  padding: 0;
}
div.header h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin: 0.5rem 0 0.375rem 0;
  text-shadow: 1px 1px 2px #000000;
}
@media (min-width:500px) {
  div.header h1 {
    font-size: 2.5rem;
  }
}
div.header.home h1 {
  font-size: 2.75rem;
  line-height: 3.0rem;
}
@media (min-width:370px) {
  div.header.home h1 {
    font-size: 3.25rem;
    line-height: 3.0rem;
  }
}
div.header h2 {
  display: none;
}
div.header.home h2 {
  display: block;
  font-size: 1.375rem;
  line-height: 1.5rem;
  margin: 0 0 0.75rem 0;
  text-shadow: 1px 1px 1px #000000;
}
div.header a {
  background: #ffef4f;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 800;
  height: 3.5rem;
  padding: 0;
  width: 3.5rem;
}
div.header a:first-of-type {
  border-radius: 1.75rem;
  float: left;
  margin: -0.5rem 0 0 -0.75rem;
}
div.header a:first-of-type svg {
  height: 2.0rem;
  margin: 0.875rem 0 0 0.4125rem;
  width: 2.0rem;
}
div.header a:last-of-type {
  border-radius: 1.75rem;
  float: right;
  margin: -0.5rem -0.75rem 0 0;
}
div.header a:last-of-type svg {
  height: 2.0rem;
  margin: 0.9125rem 0.415rem 0 0;
  width: 2.0rem;
}
div.header a:hover {
  background: #fffac3;
}
div.header svg {
  fill: #b04013;
  height: 100%;
  width: 100%;
}

@media (min-width:500px) {
  div.header a {
    border-radius: 1.75rem;
    height: 2.75rem;
    padding: 0.3125rem 0.25rem 0.375rem 0.25rem;
    width: 2.25em;
  }
  div.header a, div.header.home a {
    margin: 0.625rem 1.0rem 0 !important;
  }
  div.header a:first-of-type {
    margin: -1.0rem 0 0 -0.75rem;
  }
  div.header a:first-of-type svg {
    margin: 0.0625rem 0 0;
  }
  div.header a:last-of-type {
    margin: -1.0rem 0 0 -0.75rem;
  }
  div.header a:last-of-type svg {
    margin: 0.0625rem 0 0;
  }
}
@media (min-width:800px) {
  div.header a, div.header.home a {
    margin: 0.75rem 6.0rem 0 !important;
  }
}
/* body */
div#stacks {
  padding: 0.5rem 0;
}
div#stacks h3 {
  font-size: 1.9125rem;
  line-height: 1.5rem;
  margin: 2.0rem 0 1.5rem 0;
  text-shadow: 1px 1px 1px #000000;
}
ul.taco-row {
  display: flex;
  flex-flow: row wrap;
  gap: 1.0rem;
  justify-content: center;
}
ul.taco-row.home-stacks > li {
  margin-bottom: 1.0rem;
}
/* ingredient grid */
.ingredient-grid {
  width:20rem;
  background:#ccc;
  margin:1rem 0 0 0;
  padding:0 1rem;
  min-height:0;
}
.ingredient-grid button {
  width:4.625rem;
  height:2rem;
  margin:1rem;
  border-radius: 0.375rem;
  border:0;
  color:#fff;
  font-size:1.25rem;
  cursor:pointer;
}
.ingredient-grid button.green {
  background: green
} 
.ingredients{
  margin: 0.375rem auto;
  max-width: 35.0rem;
  padding: 0 0.0625rem 0.0625rem 0;
}
@media (min-width:500px) {
  .ingredients{
    margin: 0.5rem auto;
  }
}
.ingredients > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.ingredients > ul > li{
  display: inline;
}
.ingredients > ul > li > button{
  padding: 1.375rem 0 0.125rem 0;
  cursor: pointer;
  border: 0;
  border-radius: 0.375rem;
  background-color: #a6380c;
  background-size: 1.625rem 1.625rem;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 0.3125rem;
  font-size: 0.625rem;
  margin: 0.125rem;
  overflow: hidden;
  text-indent: -40.0rem;
  width: 4.75rem;
}
@media (min-width:370px) {
  .ingredients > ul > li > button {
    width: 5.25rem;
  }
}
@media (min-width:440px) {
  .ingredients > ul > li > button {
    background-position-y: 0.375rem;
    background-size: 2.75rem 2.75rem;
    border-radius: 0.375rem;
    font-size: 1.0rem;
    margin: 0.125rem;
    padding: 1.0rem 0;
    width: 6.0rem;
  }
}
@media (min-width:500px) {
  .ingredients > ul > li > button {
    width: 7.0rem;
  }
}
/* #a6380c, #b04013, #ce5d11, #e86e1b, #f67925 */
.ingredients > ul > li > button:hover{
  background-color: #e86e1b !important;
  border-color: #a6380c !important;
}
.ingreds-vis { 
  display: none;
  height: 18.0rem;
  overflow: hidden;
  position: absolute;
  top: 18.625rem;
  transition: .4s;
} 
.ingreds-vis.show {
  display: block;
}

/* taco stack */
li.new-taco, div.taco-container {
  border-radius: 1rem;
  border: 0.0625rem solid rgba(0, 160, 255, 1.0);
  padding: 1rem;
  position: relative;
  width: 20.75rem;
}
li.new-taco {
  background: rgba(220, 255, 255, 1.0) url(/icons/new-taco-back.svg) no-repeat top center;
}
div.taco-container {
  background: rgba(220, 255, 255, 1.0) url(/icons/taco-back.svg) no-repeat bottom center; 
  background-size: 20.75rem 20.0rem;
}
div.taco-container {
  height: 20.0rem;
}
div.taco-container ul {
  bottom: 3.25rem;
  position: absolute;
}
div.taco-container p {
  bottom: 1.375rem;
  left: 0;
  position: absolute;
  width: 100%;
}
ul.edit-row li div.taco-container {
  background-position: top center;
  background-size: 20.75rem 20.0rem;
  height: 18.25rem; 
}
ul.edit-row li div.taco-container ul {
  position: absolute;
  bottom: 1.5rem;
}
ul.edit-row li div.taco-container p {
  display: none;
}
a:hover > div.taco-container {
  background-color: rgba(100, 255, 255, 1.0);
  border: 0.0625rem solid rgba(35, 86, 255, 1.0);
}
div.taco-top {
  background: transparent url(/icons/taco-front.svg) no-repeat center;
  background-size: 18rem 18rem;
  height: 19.5rem;
  left: 0;
  position: absolute;
  top: 0.75rem;
  width: 100%;
  z-index: 2;
}
ul.edit-row li div.taco-container div.taco-top {
  height: 17rem;
  left: 0;
  position: absolute;
  top: 2.0rem;
  width: 100%;
  z-index: 2;
}
li.new-taco {
  align-items: center;
  background-color: rgba(255, 255, 150, 1.0);
  border: 0.0625rem solid rgba(255, 144, 0, 1.0);
  display: flex;
  height: 20rem;
}
li.new-taco:hover {
  background-color: rgba(255, 255, 0, 1.0);
}
li.new-taco > form{
  left: 0;
  position: absolute;
  top: -0.0625rem;
  width: 100%;
  z-index: 3;
}
li.new-taco > form > button.new-taco{
  background: rgba(255, 255, 50, 0.01) url(/icons/star.svg) no-repeat top center;
  border-radius: 1.0rem;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-family: questa-sans, sans-serif;
  font-size: 2.375rem;
  font-weight: 700;
  height: 19.875rem;
  line-height: 2.25rem;
  margin: 0.125rem 0 0;
  padding: 0 0 1.625rem 0; 
  text-align: center;
  text-shadow: 1px 1px 2px #023b9c;
  width: 100%;
}
li.new-taco > form > button:hover{
  background-color: rgba(255, 180, 80, 0.2);
}
li.new-taco > p {
  bottom: 4.25rem;
  color: #fcf883;
  font-size: 1.75rem;
  font-weight: 700;
  left: 0;
  position: absolute;
  text-shadow: 1px 1px 4px #5f2d01;
  width: 100%;
  z-index: 2;
}
/* #a6380c, #b04013, #ce5d11, #e86e1b, #f67925, #fc7f2a */
div.taco-container ul {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 0 0.125rem 7.0rem;
}
div.taco-container ul li {
  background: rgba(220,80,0,1.0);
  border: 0 !important;
  border-radius: 0.625rem;
  font-size: 1.125rem;
  height: 2.1875rem;
  line-height: 1.0rem;
  margin: 0;
  padding: 0.5625rem 0 0 2.875rem;
  position: relative;
  text-align: left;
  text-shadow: 1px 1px 2px #a6380c;
  width: 10.5rem;
}
div.taco-container ul li > button {
  border-radius: 1.0rem;
  font-size: 0.875rem;
  line-height: 1.0rem;
  padding: 0.25rem 0.5625rem 0.375rem 0.5625rem;
  position: absolute;
  right: -2.1875rem;
  top: 0.25rem;
  width: auto;
  z-index: 2;
}
div.taco-container ul li:nth-child(odd) {
  background: rgba(200, 50, 0, 1.0);
}
div.taco-container ul li::after {
  background-position: top right; 
  background-repeat: no-repeat;
  background-size: 1.125rem;
  content:  " ";
  display: inline-block;
  height: 1.125rem;
  margin: 0 0 -0.25rem 0;
  width: 1.5rem;
}
div.taco-container ul li:first-child {
  height: 2.25rem;
}
div.taco-container ul li:nth-child(8) {margin-left: -1.375rem; padding: 0.5625rem 0 0 0;text-align: center; width: 8.5rem;}
div.taco-container ul li:nth-child(7) {margin-left: -2.125rem; padding: 0.5625rem 0 0 0;text-align: center; width: 10.0rem;}
div.taco-container ul li:nth-child(6) {margin-left: -2.875rem; padding: 0.5625rem 0 0 3.25rem;width: 11.5rem;}
div.taco-container ul li:nth-child(5) {margin-left: -1.125rem; padding: 0.5625rem 0 0 2.6875rem;width: 10.25rem;}
div.taco-container ul li:nth-child(4) {margin-left: -0.25rem; padding: 0.5625rem 0 0 2.5rem;width: 10.125rem;}
div.taco-container ul li:nth-child(3) {padding: 0.5rem 0 0 2.625rem;width: 10.25rem;}

div.taco-container p.taco-name {
  bottom: -1.4125rem;
  color: #2374FF;
  font-size: 1.6875rem;
  font-style: italic;
  font-weight: 600;
  left: 0;
  line-height: 1.75rem;
  padding: 0.3125rem 0 0.25rem 0;
  position: absolute;
  text-shadow: 1px 1px 1px cyan;
  width: 100%;
}
/* footer */
div.footer {
  padding: 0.75rem 0;
}
div.footer p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
}
div.footer p a{
  color: cyan;
}
div.footer p a:hover{
  color: orange;
}
@media (min-width:500px) {
  div.footer {
    padding: 1.0rem 0;
  }
  div.footer p {
    font-size: 1.0rem;
    line-height: 1.5rem;
  }
}
/* ingredient colors and icons */
/* size adjusted */
.ingredients > ul > li > button.Chicken, 
.ingredients > ul > li > button.Shrimp, 
.ingredients > ul > li > button.Brown.Rice,
.ingredients > ul > li > button.White.Rice,
.ingredients > ul > li > button.Quinoa,
.ingredients > ul > li > button.Lettuce,
.ingredients > ul > li > button.Tomatoes, 
.ingredients > ul > li > button.Onions, 
.ingredients > ul > li > button.Crema, 
.ingredients > ul > li > button.Guacamole, 
.ingredients > ul > li > button.Red.Salsa, 
.ingredients > ul > li > button.Green.Salsa {
  background-position-y: 0.5rem;
  background-size: 1.25rem 1.25rem;
}
@media (min-width:440px) {
  .ingredients > ul > li > button.Chicken, 
  .ingredients > ul > li > button.Shrimp, 
  .ingredients > ul > li > button.Brown.Rice,
  .ingredients > ul > li > button.White.Rice,
  .ingredients > ul > li > button.Quinoa,
  .ingredients > ul > li > button.Lettuce,
  .ingredients > ul > li > button.Tomatoes, 
  .ingredients > ul > li > button.Onions, 
  .ingredients > ul > li > button.Crema, 
  .ingredients > ul > li > button.Guacamole, 
  .ingredients > ul > li > button.Red.Salsa, 
  .ingredients > ul > li > button.Green.Salsa {
    background-position-y: 0.625rem;
    background-size: 2.125rem 2.25rem;
  }
}
/* chicken */
.ingredients > ul > li > button.Chicken, div.taco-container > ul > li.Chicken {
  /* background-color: #c67e00; */
  border: 0.0625rem #FFEEB6 solid;
  color: #FFEEB6;
}
.ingredients > ul > li > button.Chicken, div.taco-container > ul > li.Chicken:before, div.taco-container ul li.Chicken::after {
  background-image: url(/icons/chicken.svg);
}
/* beef */
.ingredients > ul > li > button.Beef, div.taco-container > ul > li.Beef{
  /* background-color: #610010; */
  border: 0.0625rem #FFCCC6 solid;
  color: #FFCCC6;
}
.ingredients > ul > li > button.Beef, div.taco-container > ul > li.Beef:before, div.taco-container ul li.Beef::after {
  background-image: url(/icons/cow.svg);
}
/* al Pastor */
.ingredients > ul > li > button.Pastor, div.taco-container > ul > li.Pastor{
  border: 0.0625rem #FFD4D1 solid;
  color: #FFD4D1;
}
.ingredients > ul > li > button.Pastor, div.taco-container > ul > li.Pastor:before, div.taco-container ul li.Pastor::after {
  background-image: url(/icons/pig.svg);
}
/* fish */
.ingredients > ul > li > button.Fish, div.taco-container > ul > li.Fish{
  border: 0.0625rem #D9D8FF solid;
  color: #D9D8FF;
}
.ingredients > ul > li > button.Fish, div.taco-container > ul > li.Fish:before, div.taco-container ul li.Fish::after {
  background-image: url(/icons/fish.svg);
}
/* shrimp */
.ingredients > ul > li > button.Shrimp, div.taco-container > ul > li.Shrimp{
  border: 0.0625rem #FFEAF8 solid;
  color: #FFEAF8;
}
.ingredients > ul > li > button.Shrimp, div.taco-container > ul > li.Shrimp:before, div.taco-container ul li.Shrimp::after {
  background-image: url(/icons/shrimp.svg);
}
/* tofu */
.ingredients > ul > li > button.Tofu, div.taco-container > ul > li.Tofu{
  border: 0.0625rem #FFFAF2 solid;
  color: #FFFAF2;
}
.ingredients > ul > li > button.Tofu, div.taco-container > ul > li.Tofu:before, div.taco-container ul li.Tofu::after {
  background-image: url(/icons/tofu.svg);
}
/* black beans */
.ingredients > ul > li > button.Black.Beans, div.taco-container > ul > li.Black.Beans{
  /* background-color: #250900; */
  border: 0.0625rem #9e928f solid;
  color: #9e928f;
}
.ingredients > ul > li > button.Black.Beans, div.taco-container > ul > li.Black.Beans:before, div.taco-container ul li.Black.Beans::after{
  background-image: url(/icons/beans-b.svg);
}
/* pinto beans */
.ingredients > ul > li > button.Pinto.Beans, div.taco-container > ul > li.Pinto.Beans{
  /* background-color: #5c2806; */
  border: 0.0625rem #FBDBD6 solid;
  color: #FBDBD6;
}
.ingredients > ul > li > button.Pinto.Beans, div.taco-container > ul > li.Pinto.Beans:before, div.taco-container ul li.Pinto.Beans::after {
  background-image: url(/icons/beans-p.svg);
}
/* lettuce */
.ingredients > ul > li > button.Lettuce, div.taco-container > ul > li.Lettuce{
  border: 0.0625rem #D0FFDA solid;
  color: #D0FFDA;
}
.ingredients > ul > li > button.Lettuce, div.taco-container > ul > li.Lettuce:before, div.taco-container ul li.Lettuce::after {
  background-image: url(/icons/lettuce.svg);
}
/* tomato */ 
.ingredients > ul > li > button.Tomatoes, div.taco-container > ul > li.Tomatoes{
  border: 0.0625rem #FED3BD solid;
  color: #FED3BD;
}
.ingredients > ul > li > button.Tomatoes, div.taco-container > ul > li.Tomatoes:before, div.taco-container ul li.Tomatoes::after {
  background-image: url(/icons/tomato.svg);
}
/* onion */
.ingredients > ul > li > button.Onions, div.taco-container > ul > li.Onions{
  border: 0.0625rem #FFFACC solid;
  color: #FFFACC;
}
.ingredients > ul > li > button.Onions, div.taco-container > ul > li.Onions:before, div.taco-container ul li.Onions::after {
  background-image: url(/icons/onion.svg);
}
/* cheese */ 
.ingredients > ul > li > button.Cheese, div.taco-container > ul > li.Cheese{
  border: 0.0625rem #FFF687 solid;
  color: #FFF687;
}
.ingredients > ul > li > button.Cheese, div.taco-container > ul > li.Cheese:before, div.taco-container ul li.Cheese::after {
  background-image: url(/icons/cheese.svg);
}
/* crema*/
.ingredients > ul > li > button.Crema, div.taco-container > ul > li.Crema{
  border: 0.0625rem #fff solid;
  color: #fff;
}
.ingredients > ul > li > button.Crema, div.taco-container > ul > li.Crema:before, div.taco-container ul li.Crema::after {
  background-image: url(/icons/drop-w.svg);
}
/* guac */
.ingredients > ul > li > button.Guacamole, div.taco-container > ul > li.Guacamole{
  border: 0.0625rem #E6FFB1 solid;
  color: #E6FFB1;
}
.ingredients > ul > li > button.Guacamole, div.taco-container > ul > li.Guacamole:before, div.taco-container ul li.Guacamole::after {
  background-image: url(/icons/guac.svg);
}
/* red salsa */
.ingredients > ul > li > button.Red.Salsa, div.taco-container > ul > li.Red.Salsa{
  border: 0.0625rem #FFCBBB solid;
  color: #FFCBBB;
}
.ingredients > ul > li > button.Red.Salsa, div.taco-container > ul > li.Red.Salsa:before, div.taco-container ul li.Red.Salsa::after {
  background-image: url(/icons/drop-r.svg);
}
/* green salsa*/
.ingredients > ul > li > button.Green.Salsa, div.taco-container > ul > li.Green.Salsa{
  border: 0.0625rem #CAFAAE solid;
  color: #CAFAAE;
}
.ingredients > ul > li > button.Green.Salsa, div.taco-container > ul > li.Green.Salsa:before, div.taco-container ul li.Green.Salsa::after {
  background-image: url(/icons/drop-g.svg);
}
/* white rice */
.ingredients > ul > li > button.White, div.taco-container > ul > li.White{
  border: 0.0625rem #fff solid;
  color: #fff;
}
.ingredients > ul > li > button.White, div.taco-container > ul > li.White:before, div.taco-container ul li.White::after {
  background-image: url(/icons/white-rice.svg);
}
/* brown rice */
.ingredients > ul > li > button.Brown, div.taco-container > ul > li.Brown{
  border: 0.0625rem #d5ae8a solid;
  color: #d5ae8a;
}
.ingredients > ul > li > button.Brown, div.taco-container > ul > li.Brown:before, div.taco-container ul li.Brown::after {
  background-image: url(/icons/brown-rice.svg);
}
/* cilantro */
.ingredients > ul > li > button.Cilantro, div.taco-container > ul > li.Cilantro{
  border: 0.0625rem #CAFAAE solid;
  color: #CAFAAE;
}
.ingredients > ul > li > button.Cilantro, div.taco-container > ul > li.Cilantro:before, div.taco-container ul li.Cilantro::after {
  background-image: url(/icons/cilantro.svg);
}
/* quinoa */
.ingredients > ul > li > button.Quinoa, div.taco-container > ul > li.Quinoa{
  border: 0.0625rem #FFFAF2 solid;
  color: #FFFAF2;
}
.ingredients > ul > li > button.Quinoa, div.taco-container > ul > li.Quinoa:before, div.taco-container ul li.Quinoa::after {
  background-image: url(/icons/quinoa.svg);
}

/* forms */
div.edit-form, div.taco-form {
  margin: 0.375rem 0 0 0;
}
@media (min-width:500px) {
  div.edit-form, div.taco-form {
    margin: 1.25rem 0 0 0;
  }
}
div.taco-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
div.taco-form form {
  margin: 0 0.375rem 0;
  width: 7.0rem;
}
form span.field-label {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0 0.25rem;
}
form.delete-form {
  width: auto !important;
}
button.delete-button {
  background-image: url(/icons/delete.svg);
}
button.refresh-button {
  background-image: url(/icons/refresh.svg);
}
button.delete-button, button.refresh-button {
  background-repeat: no-repeat;
  background-position: 0.5625rem;
  background-size: 1.375rem;
  width: 2.5rem;
}
button.back-button {
  background-image: url(/icons/back.svg);
  background-repeat: no-repeat;
  background-position: 0.5rem 0.25rem;
  background-size: 1.5rem;
  padding-left: 2.0rem;
  width: 2.5rem;
}
div.taco-form button.back-button {
  margin: 0;
}
@media (min-width:500px) {
  button.refresh-button {
    background-position: 0.5rem 0.375rem;
    background-size: 1.75rem;
    width: 2.75rem;
  }
  button.back-button {
    background-position: 0.5rem;
    background-size: 1.75rem;
    width: 2.75rem;
  }
}

/* signature tacos */
ul.signature-tacos > li {
  margin-bottom: 1.0rem;
}
ul.signature-tacos > li div.taco-container p {
  font-size: 1.6875rem;
  text-shadow: 1px 1px 2px #000000;
}
ul.signature-tacos > li:first-child div.taco-container {
    background: rgba(220, 255, 255, 1.0) url(/img/western-bg.jpg) no-repeat bottom right;
    background-size: 101%;
}
ul.signature-tacos > li:first-child div.taco-container p {
  color: #fff;
}
ul.signature-tacos > li:nth-child(2) div.taco-container {
  background: rgba(220, 255, 255, 1.0) url(/img/tapatio-bg.jpg) no-repeat bottom right;
  background-size: 102%;
}
ul.signature-tacos > li:nth-child(2) div.taco-container p {
  color: yellow;
}
ul.signature-tacos > li:last-child div.taco-container {
  background: rgba(220, 255, 255, 1.0) url(/img/pacifico-bg.jpg) no-repeat bottom right;
  background-size: 102%;
}
ul.signature-tacos > li:nth-child(3) div.taco-container p {
  color: cyan;
}