html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  background: #A3421A;
  color: #ffef4f;
  font-family: questa-sans, sans-serif;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  touch-action: manipulation;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
textarea,
input,
button {
  background-color: white;
  border: none;
  border-radius: 0.625rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  font-size: 1.0rem;
  line-height: 1.25;
  margin: 0 0.375rem;
  padding: 0.375rem 0.625rem 0.3125rem 0.625rem;
  font-weight: 800;
}
@media (min-width:500px) {
  textarea,
  input,
  button {
    border-radius: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
  }
}
textarea:hover,
input:hover,
button:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}
button {
  background-color: #2374ff;
  color: #fff;
  cursor: pointer;
  font-size: 1.0625rem;
  width: 7.0rem;
}
button:hover {
  background-color: #2356ff;
}
/* taco time */
div#root {
  margin: 0 auto;
  max-width: 70.0rem;
  text-align: center;
}
/* header */
div.header {
  padding: 0.25rem 0 0;
}
div.header.home {
  padding: 0.75rem 0 1.25rem 0;
}
div.header h1 {
  font-size: 2.25rem;
  line-height: 2.0rem;
  margin: 0.125rem 0 0.375rem 0;
  text-shadow: 1px 1px 2px #000000;
}
@media (min-width:500px) {
  div.header {
    padding: 1.0rem 0 0.25rem;
  }
  div.header h1 {
    font-size: 2.75rem;
  }
}
div.header.home h1 {
  font-size: 2.75rem;
  line-height: 3.5rem;
}
@media (min-width:370px) {
  div.header.home h1 {
    font-size: 3.25rem;
    line-height: 3.25rem;
  }
}
div.header h2 {
  display: none;
  font-size: 1.375rem;
  line-height: 1.375rem;
  margin: 0;
}
div.header.home h2 {
  display: block;
}
div.header a {
  background: #ffef4f;
  border-radius: 1.5rem;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 800;
  height: 2.125rem;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  width: 1.75em;
}
div.header a {
  margin: 0.125rem 0.5rem 0;
}
div.header.home a {
  margin: 0.75rem 0.5rem 0;
}
div.header a:first-of-type {
  float: left;
}
div.header a:last-of-type {
  float: right;
}
div.header a:hover {
  background: #fffac3;
}
div.header svg {
  fill: #a3421a;
  height: 100%;
  width: 100%;
}

@media (min-width:500px) {
  div.header a {
    border-radius: 1.75rem;
    height: 2.75rem;
    padding: 0.3125rem 0.25rem 0.375rem 0.25rem;
    width: 2.25em;
  }
  div.header.home a {
    margin: 0.5rem 1.0rem 0 !important;
  }
  div.header a {
    margin: 0.25rem 1.0rem 0 !important;
  }
}
@media (min-width:800px) {
  div.header.home a {
    margin: 0.5rem 6.0rem 0 !important;
  }
  div.header a {
      margin: 0.25rem 6.0rem 0 !important;
  }
}
/* body */
div#stacks h3 {
  font-size: 1.75rem;
  line-height: 1.5rem;
  margin: 2.0rem 0 1.25rem 0;
}
ul.taco-row {
  display: flex;
  flex-flow: row wrap;
  gap: 1.0rem;
  justify-content: center;
}
/* ingredient grid */
.ingredient-grid {
  width:20rem;
  background:#ccc;
  margin:1rem 0 0 0;
  padding:0 1rem;
  min-height:0;
}
.ingredient-grid button {
  width:4.625rem;
  height:2rem;
  margin:1rem;
  border-radius:1rem;
  border:0;
  color:#fff;
  font-size:1.25rem;
  cursor:pointer;
}
.ingredient-grid button.green {
  background: green
} 
.ingredients{
  margin: 0.375rem auto;
  max-width: 35.0rem;
  padding: 0 0.0625rem 0.0625rem 0;
}
@media (min-width:500px) {
  .ingredients{
    margin: 0.5rem auto;
  }
}
.ingredients > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.ingredients > ul > li{
  display: inline;
}
.ingredients > ul > li > button{
  padding: 1.375rem 0 0.125rem 0;
  cursor: pointer;
  border: 0;
  border-radius: 0.5rem;
  background-size: 1.125rem 1.125rem;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 0.3125rem;
  font-size: 0.625rem;
  margin: 0.125rem;
  width: 4.75rem;
}
@media (min-width:370px) {
  .ingredients > ul > li > button {
    width: 5.25rem;
  }
}
@media (min-width:440px) {
  .ingredients > ul > li > button {
    background-position-y: 0.375rem;
    background-size: 1.5rem 1.5rem;
    border-radius: 0.75rem;
    font-size: 0.75rem;
    margin: 0.25rem;
    padding: 1.875rem 0 0.25rem 0;
    width: 6.0rem;
  }
}
@media (min-width:500px) {
  .ingredients > ul > li > button {
    width: 7.0rem;
  }
}
.ingredients > ul > li > button:hover{
  background-color: #D7FFFF !important;
}
.ingreds-vis { 
  display: none;
  height: 18.0rem;
  overflow: hidden;
  position: absolute;
  top: 18.625rem;
  transition: .4s;
} 
.ingreds-vis.show {
  display: block;
}

/* taco stack */
li.new-taco, div.taco-container {
  border-radius: 1rem;
  border: 0.1875rem solid rgba(0, 160, 255, 1.0);
  padding: 1rem;
  position: relative;
  width: 20.75rem;
}
li.new-taco {
  background: rgba(220, 255, 255, 1.0) url(/icons/new-taco-back.svg) no-repeat top center;
}
div.taco-container {
  background: rgba(220, 255, 255, 1.0) url(/icons/taco-back.svg) no-repeat bottom center; 
}
div.taco-container {
  height: 20.0rem;
}
div.taco-container ul {
  bottom: 3.25rem;
  position: absolute;
}
div.taco-container p {
  bottom: 1.375rem;
  left: 0;
  position: absolute;
  width: 100%;
}
ul.edit-row li div.taco-container {
  background-position: 0 -0.1875rem;
  background-size: 20.375rem 20.0rem;
  height: 18.25rem; 
}
ul.edit-row li div.taco-container ul {
  position: absolute;
  bottom: 1.5rem;
}
ul.edit-row li div.taco-container p {
  display: none;
}
a:hover > div.taco-container {
  background-color: rgba(100, 255, 255, 1.0);
  border: 0.1875rem solid rgba(35, 86, 255, 1.0);
}
div.taco-top {
  background: transparent url(/icons/taco-front.svg) no-repeat center;
  background-size: 18rem 18rem;
  height: 19.5rem;
  left: 0;
  position: absolute;
  top: 0.75rem;
  width: 100%;
  z-index: 2;
}
ul.edit-row li div.taco-container div.taco-top {
  height: 17rem;
  left: 0;
  position: absolute;
  top: 2.0rem;
  width: 100%;
  z-index: 2;
}
li.new-taco {
  align-items: center;
  background-color: rgba(255, 255, 150, 1.0);
  border: 0.1875rem solid rgba(255, 144, 0, 1.0);
  display: flex;
  height: 20rem;
}
li.new-taco:hover {
  background-color: rgba(255, 255, 0, 1.0);
}
li.new-taco > form{
  left: 0;
  position: absolute;
  top: -0.0625rem;
  width: 100%;
  z-index: 3;
}
li.new-taco > form > button{
  background: rgba(255, 255, 50, 0.01) url(/icons/startburst.svg) no-repeat top center;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-family: questa-sans, sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  height: 19.875rem;
  line-height: 2.25rem;
  margin: 0;
  padding: 0 0 1.625rem 0; 
  text-align: center;
  text-shadow: 1px 1px 2px #023b9c;
  width: 100%;
}
li.new-taco > form > button:hover{
  background-color: rgba(255, 180, 80, 0.2);
}
li.new-taco > p {
  bottom: 4.25rem;
  color: #fcf883;
  font-size: 1.75rem;
  font-weight: 700;
  left: 0;
  position: absolute;
  text-shadow: 1px 1px 4px #5f2d01;
  width: 100%;
  z-index: 2;
}
div.taco-container ul li {
  background: blue;
  height: 1.5rem;
  line-height: 1.0rem;
  margin: 0 0 0 4.0rem;
  padding: 0.25rem 0 0 5.75rem;
  text-align: left;
  width:  13.0rem;
}
div.taco-container ul li:first-child {
  border-top-left-radius: 1.0rem;
  border-top-right-radius: 1.0rem;
}
div.taco-container ul li:last-child {
  height: 1.75rem;
}
/* div.taco-container ul li:nth-child(1), div.taco-container ul li:nth-child(2), div.taco-container ul li:nth-child(3), div.taco-container ul li:nth-child(4), div.taco-container ul li:nth-child(5) {
  padding: 0.25rem 0 0 0;
  text-align: center;
} */
/* div.taco-container ul li:nth-child(6) {padding: 0.25rem 0 0 4.5rem;}
div.taco-container ul li:nth-child(7) {padding: 0.25rem 0 0 5.0rem;}
div.taco-container ul li:nth-child(8) {padding: 0.25rem 0 0 5.25rem;}
div.taco-container ul li:nth-child(9) {padding: 0.25rem 0 0 5.5rem;} */

div.taco-container p.taco-name {
  bottom: -1.4125rem;
  color: #2374FF;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 600;
  left: 0;
  line-height: 1.75rem;
  padding: 0.3125rem 0 0.25rem 0;
  position: absolute;
  width: 100%;
}
/* footer */
div.footer {
  padding: 0.75rem 0;
}
div.footer p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
}
div.footer p a{
  color: cyan;
}
div.footer p a:hover{
  color: orange;
}
@media (min-width:500px) {
  div.footer {
    padding: 1.0rem 0;
  }
  div.footer p {
    font-size: 1.0rem;
    line-height: 1.5rem;
  }
}
/* ingredient colors and icons */
/* chicken */
.ingredients > ul > li > button.Chicken, div.taco-container > ul > li.Chicken{
  background-color: #FFEEB6;
  color: #805B36;
}
.ingredients > ul > li > button.Chicken, div.taco-container > ul > li.Chicken:before{
  background-image: url(/icons/chicken.svg);
}
/* beef */
.ingredients > ul > li > button.Beef, div.taco-container > ul > li.Beef{
  background-color: #FFCCC6;
  color: #610010;
}
.ingredients > ul > li > button.Beef, div.taco-container > ul > li.Beef:before{
  background-image: url(/icons/cow.svg);
}
/* al Pastor */
.ingredients > ul > li > button.Pastor, div.taco-container > ul > li.Pastor{
  background-color: #FFD4D1;
  color: #8A0051;
}
.ingredients > ul > li > button.Pastor, div.taco-container > ul > li.Pastor:before{
  background-image: url(/icons/pig.svg);
}
/* fish */
.ingredients > ul > li > button.Fish, div.taco-container > ul > li.Fish{
  background-color: #D9D8FF;
  color: #3B0073;
}
.ingredients > ul > li > button.Fish, div.taco-container > ul > li.Fish:before{
  background-image: url(/icons/fish.svg);
}
/* shrimp */
.ingredients > ul > li > button.Shrimp, div.taco-container > ul > li.Shrimp{
  background-color: #FFEAF8;
  color: #635061;
}
.ingredients > ul > li > button.Shrimp, div.taco-container > ul > li.Shrimp:before{
  background-image: url(/icons/shrimp.svg);
}
/* tofu */
.ingredients > ul > li > button.Tofu, div.taco-container > ul > li.Tofu{
  background-color: #FFFAF2;
  color: #73705C;
}
.ingredients > ul > li > button.Tofu, div.taco-container > ul > li.Tofu:before{
  background-image: url(/icons/tofu.svg);
}
/* black beans */
.ingredients > ul > li > button.Black.Beans, div.taco-container > ul > li.Black.Beans{
  background-color: #bbb;
  color: #000;
}
.ingredients > ul > li > button.Black.Beans, div.taco-container > ul > li.Black.Beans:before{
  background-image: url(/icons/beans-b.svg);
}
/* pinto beans */
.ingredients > ul > li > button.Pinto.Beans, div.taco-container > ul > li.Pinto.Beans{
  background-color: #FBDBD6;
  color: #5C2806;
}
.ingredients > ul > li > button.Pinto.Beans, div.taco-container > ul > li.Pinto.Beans:before{
  background-image: url(/icons/beans-p.svg);
}
/* lettuce */
.ingredients > ul > li > button.Lettuce, div.taco-container > ul > li.Lettuce{
  background-color: #D0FFDA;
  color: #277A4E;
}
.ingredients > ul > li > button.Lettuce, div.taco-container > ul > li.Lettuce:before{
  background-image: url(/icons/lettuce.svg);
}
/* tomato */ 
.ingredients > ul > li > button.Tomatoes, div.taco-container > ul > li.Tomatoes{
  background-color: #FED3BD;
  color: #A32300;
}
.ingredients > ul > li > button.Tomatoes, div.taco-container > ul > li.Tomatoes:before{
  background-image: url(/icons/tomato.svg);
}
/* onion */
.ingredients > ul > li > button.Onions, div.taco-container > ul > li.Onions{
  background-color: #FFFACC;
  color: #8A7E01;
}
.ingredients > ul > li > button.Onions, div.taco-container > ul > li.Onions:before{
  background-image: url(/icons/onion.svg);
}
/* cheese */ 
.ingredients > ul > li > button.Cheese, div.taco-container > ul > li.Cheese{
  background-color: #FFF687;
  color: #8F6E01;
}
.ingredients > ul > li > button.Cheese, div.taco-container > ul > li.Cheese:before{
  background-image: url(/icons/cheese.svg);
}
/* crema*/
.ingredients > ul > li > button.Crema, div.taco-container > ul > li.Crema{
  background-color: #Fff;
  color: #205685;
}
.ingredients > ul > li > button.Crema, div.taco-container > ul > li.Crema:before{
  background-image: url(/icons/drop-w.svg);
}
/* guac */
.ingredients > ul > li > button.Guacamole, div.taco-container > ul > li.Guacamole{
  background-color: #E6FFB1;
  color: #597823;
}
.ingredients > ul > li > button.Guacamole, div.taco-container > ul > li.Guacamole:before{
  background-image: url(/icons/guac.svg);
}
/* red salsa */
.ingredients > ul > li > button.Red.Salsa, div.taco-container > ul > li.Red.Salsa{
  background-color: #FFCBBB;
  color: #782C1D;
}
.ingredients > ul > li > button.Red.Salsa, div.taco-container > ul > li.Red.Salsa:before{
  background-image: url(/icons/drop-r.svg);
}
/* green salsa*/
.ingredients > ul > li > button.Green.Salsa, div.taco-container > ul > li.Green.Salsa{
  background-color: #CAFAAE;
  color: #316911;
}
.ingredients > ul > li > button.Green.Salsa, div.taco-container > ul > li.Green.Salsa:before{
  background-image: url(/icons/drop-g.svg);
}
/* white rice */
.ingredients > ul > li > button.White, div.taco-container > ul > li.White{
  background-color: #Fff;
  color: #205685;
}
.ingredients > ul > li > button.White, div.taco-container > ul > li.White:before{
  background-image: url(/icons/white-rice.svg);
}
/* brown rice */
.ingredients > ul > li > button.Brown, div.taco-container > ul > li.Brown{
  background-color: #d5ae8a;
  color: #5C2806;
}
.ingredients > ul > li > button.Brown, div.taco-container > ul > li.Brown:before{
  background-image: url(/icons/brown-rice.svg);
}
/* cilantro */
.ingredients > ul > li > button.Cilantro, div.taco-container > ul > li.Cilantro{
  background-color: #CAFAAE;
  color: #316911;
}
.ingredients > ul > li > button.Cilantro, div.taco-container > ul > li.Cilantro:before{
  background-image: url(/icons/cilantro.svg);
}
/* quinoa */
.ingredients > ul > li > button.Quinoa, div.taco-container > ul > li.Quinoa{
  background-color: #FFFAF2;
  color: #73705C;
}
.ingredients > ul > li > button.Quinoa, div.taco-container > ul > li.Quinoa:before{
  background-image: url(/icons/quinoa.svg);
}

/* forms */
div.edit-form, div.taco-form {
  margin: 0.375rem 0 0 0;
}
@media (min-width:500px) {
  div.edit-form, div.taco-form {
    margin: 1.25rem 0 0 0;
  }
}
div.taco-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
div.taco-form form {
  margin: 0 0.375rem 0;
  width: 7.0rem;
}
form span.field-label {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0 0.25rem;
}
button.refresh-button {
  background-image: url(/icons/refresh.svg);
  background-repeat: no-repeat;
  background-position: 0.6125rem 0.3125rem;
  background-size: 1.3125rem;
  width: 2.5rem;
}
button.back-button {
  background-image: url(/icons/back.svg);
  background-repeat: no-repeat;
  background-position: 1.375rem 0.375rem;
  background-size: 1.25rem;
  padding-left: 2.0rem;
  width: 6.875rem;
}
div.taco-form button.back-button {
  margin: 0;
}
@media (min-width:500px) {
  button.refresh-button {
    background-position: 0.5rem 0.375rem;
    background-size: 1.75rem;
    width: 2.75rem;
  }
  button.back-button {
    background-position: 1.0rem;
  }
}