body {
  margin: 0;
  font-family: questa-sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #A3421A;
  color: #594429;
  touch-action: manipulation;
}
a, button {
    outline: 0;
}
div#root {
  display: flex;
  flex-direction: column;
  max-width: 30.0rem;
  margin: 0 auto;
}
div#root > div {
  height: 40.5rem;
  background: #A3421A;
  margin: 0 0.5rem;
  padding: 0.25rem;
  border-radius: 1.0rem;
  position: relative;
  text-align: center;
}

/* title */
.torts > .taco-title {
  margin-top: 0;
  padding-top: 3.0rem;
  opacity: 1;
  transition: .4s;
}
.torts > .taco-title > h1, .torts > .taco-title > p {
  line-height: 1.0rem;
  padding: 0;
}
.torts > .taco-title > h1{
  color: #FFDE0A;
  font-size: 3.5rem;
  letter-spacing: -0.0625rem;
  margin: 2.0rem 0;
  text-shadow: 1px 1px 2px #000000;
}
.torts > .taco-title > p  {
  color: #FFEF4F;
  font-size: 1.0rem;
  margin: 0 0 1.0rem 0;
}
@media all and (min-width: 320px) {
  .torts > .taco-title > h1{font-size: 4.0rem;}
  .torts > .taco-title > p  {font-size: 1.125rem;}
}
@media all and (min-width: 480px) {
  .torts > .taco-title > h1{font-size: 4.5rem;}
  .torts > .taco-title > p  {font-size: 1.3125rem;}
}
.torts.up .taco-title {
  margin-top: -8.0rem;
  opacity: 0;
}

/* reset button */
button.removeB {
  background: #5F38E8 url(/taco/icons/back-arrow.svg) no-repeat 6px 5px;
  background-size: 1.5rem;
  border:0;
  border-radius: 1rem;
  color: #D7FFFF;
  cursor: pointer;
  font-size: 1.25rem;
  height: 2.25rem;
  padding: 0.3125rem 0.875rem 0.25rem 0.875rem;
  position: absolute;
  right: 0.5rem;
  text-align:center;
  top: 0.5rem;
  width: 2.25rem;
  z-index: 3; 
}
button.removeB:hover {
  background-color: #66D3E8;
}

/* tortilla */
.tortilla {
  margin: 4% 2% 0;
  display:inline-block;
  cursor:pointer;
} 
.tortilla.flour {
  background: #f6a714;
} 
.tortilla.corn {
  background: #FFEF4F;
} 
.torts.down > .tortilla.flour:hover , .torts.up > .tortilla.flour:hover {
  background: #fee676;
}
.torts.down > .tortilla.corn:hover , .torts.up > .tortilla.corn:hover {
  background: #fff6cd;
}
.tortilla > p {
  color: #5e2609;
  font-weight: bold;
  font-size: 1.3125rem;
  margin: 0.75rem 0;
}
.torts > div.tortilla {
  width: 44%;
  padding: 16% 0;
  border-radius: 7rem;
  transition: .2s;
}
.torts.up > div.tortilla {
  padding: 0;
  border-radius: 1.25rem;
  margin-top: -1.5rem;
}   
.torts.up > div.tortilla p {
  margin: 0.25rem;
}

/* ingredients grid */
.ingredientsStyle {
  width:20rem;
  background:#ccc;
  margin:1rem 0 0 0;
  padding:0 1rem;
  min-height:0;
}
.ingredientsStyle button {
  width:4.625rem;
  height:2rem;
  margin:1rem;
  border-radius:1rem;
  border:0;
  color:#fff;
  font-size:1.25rem;
  cursor:pointer;
}
.ingredientsStyle button.green {
  background: green
} 
.ingredients{
  margin: 0;
  padding: 0 0.0625rem 0.0625rem 0;
}
.ingredients > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.ingredients > ul > li{
  display: inline;
}
.ingredients > ul > li > button{
  width: 22%;
  padding: 1.75rem 0 0.125rem 0;
  cursor: pointer;
  border: 0;
  border-radius: 1rem;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 0.25rem;
  font-size: 0.75rem;
  margin: 0.5%;
}
.ingredients > ul > li > button:hover{
  background-color: #D7FFFF !important;
}
.ingreds-vis { 
  opacity:0;
  transition: .4s;
  height: 1.0rem;
  overflow: hidden;
} 
.ingreds-vis.show {
  opacity:1;
  height: 18rem;
}

/* taco stack */
div.tacoContainer {
  position:relative;
  margin: 0.5rem 0.5rem 0.125rem;
}
div.tacoContainer div.tortilla.flour > p, div.tacoContainer div.tortilla.corn > p, div.order-complete div.tortilla.flour > p, div.order-complete div.tortilla.corn > p {
  display: none;
}
div.order-complete.done > div:nth-child(2), div.tacoContainer > div:last-child {
  width: 16.5rem;
  height: 18rem;
  border-radius: 8.75rem;
  border-bottom-right-radius: 6rem;
  border-bottom-left-radius: 6rem;
  cursor: default;
}
div.tacoIngredientContainer {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50.75%);
  margin: 0 0.125rem;
  padding: 0;
  opacity:0;
}
div.tacoIngredientContainer.show {
  opacity:1;
}
div.tacoIngredientContainer > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 14.75rem;
  height: 17.75rem;
  overflow: hidden;
  background: linear-gradient(#ea7425,#cf581d,#ac4e28);
  border: 3px #A3421A solid;
  border-radius: 8.5rem;
  border-bottom-right-radius: 5.5rem;
  border-bottom-left-radius: 5.5rem;
  display: flex;
  flex-direction: column-reverse;
}
div.tacoIngredientContainer > ul > li {
  font-size: 0.875rem;
  margin-top: 0.125rem;
  position: relative;
  text-align: left;
}
@media all and (min-width: 480px) {
  div.tacoIngredientContainer > ul > li {
    margin-top: 0.1875rem;
  }
}
div.tacoIngredientContainer > ul > li {
  width: 96%;
  margin-left: 2%;
}
div.tacoIngredientContainer > ul > li:nth-child(1) {
  width: 60%;
  margin-left: 20%;
}
div.tacoIngredientContainer > ul > li:nth-child(2) {
  width: 90%;
  margin-left: 5%;
}
div.tacoIngredientContainer > ul > li:nth-child(7) {
  width: 92%;
  margin-left: 4%;
}
div.tacoIngredientContainer > ul > li:nth-child(8) {
  width: 80%;
  margin-left: 10%;
}
div.tacoIngredientContainer > ul > li:nth-child(9) {
  width:50%;
  margin-left: 25%;
}
div.tacoIngredientContainer > ul > li:nth-child(1) {
  margin-bottom: 0.375rem;
}
div.tacoIngredientContainer > ul > li > div {
  padding: 0.3125rem 0 0.1875rem 1.125rem;
}
div.tacoIngredientContainer > ul > li:nth-child(9) > div {
  padding-left: 0.75rem;
}
div.tacoContainer > div.tacoIngredientContainer > ul > li > div {
  cursor: pointer;
  border-radius: 1.0rem;
}
div.order-complete > div.tacoIngredientContainer > ul > li > div {
  border-radius: 1.0rem;
}
div.tacoContainer > div.tacoIngredientContainer > ul > li > div:hover {
  background-color: #C7331C;
}
div.tacoIngredientContainer > ul > li > div:before {
  content: "";
  float: left;
  width: 1.125rem;
  height: 1.375rem;
  margin: -0.25rem 0.125rem 0 0;
  background-repeat: no-repeat;
  background-position-y: 0.1875rem;
}
div.tacoIngredientContainer > ul > li:last-child {
  border-top: 0;
}
div.tacoIngredientContainer > ul > li div.ingIng {
  display:inline-block;
  margin:0;
  padding:.20625rem .5125rem;
  color: blue;
  font-size:.9rem;
  font-family:sans-serit;
  border:0;
  cursor:pointer;
}
div.tacoIngredientContainer > ul > li button {
  position: absolute;
  z-index: 3;
  top: -0.625rem;
  width: 100%;
  text-align: center;
  background: 0 0;
  border: 0;
  color: red;
  opacity: .6;
  font-size: 2.125rem;
  font-weight: 700;
  display: none;
  cursor: pointer;
}
div.tacoIngredientContainer>ul>li:hover button {
  display:block
}
div.order-complete {
  display: none;
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 85%;
  top: 0;
  left: 0;
  border-radius: 1.0rem;
  padding: 4.375rem 0 0;
  opacity: 0;
  background: #A3421A;
  transition: .3s;
  }

/* order complete rims */
div.order-complete div.rims {
  opacity: 0; 
  animation-name: taco-done;
  animation-timing-function: linear;
  animation-duration: 2.0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
div.order-complete div.taco-rim {
  display: none;
  position: absolute;
  z-index: -1;
  height: 22.5rem;
  top: 1.0rem;
  background-image: url(/taco/icons/taco-rim.svg);
  background-repeat: no-repeat;
  background-position: top center;
  animation-name: stretch;
  animation-timing-function: linear;
  animation-duration: 14.0s;
  animation-iteration-count: infinite;
  opacity: 0.6;
  }
  div.order-complete div.taco-rim-blue {
    display: none;
    position: absolute;
    z-index: -2;
    height: 20.75rem;
    top: 2.5rem;
    background-image: url(/taco/icons/taco-rim-blue.svg);
    background-repeat: no-repeat;
    background-position: top center;
    animation-name: stretch-red;
    animation-timing-function: linear;
    animation-duration: 12.0s;
    animation-iteration-count: infinite;
    opacity: 0.7;
    }
  @media all and (min-width: 320px) {
    div.order-complete div.taco-rim, div.order-complete div.taco-rim-blue {
      display: block;
      width: 110%;
      margin-left: -5%;
    }
  }
  @media all and (min-width: 480px) {
    div.order-complete div.taco-rim {
      width: 23rem;
      margin-left: 10%; 
    }
    div.order-complete div.taco-rim-blue {
      width: 20.75rem;
      margin-left: 14%; 
    }
  } 
  @keyframes stretch {
    0% {
      -webkit-transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(-360deg);
    }
  }
  @keyframes stretch-red {
    0% {
      -webkit-transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes taco-done {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
div.order-complete.done {
  display: block;
  opacity: 1;
  overflow-x: hidden;
}
p.submitter{
  margin-top: 0.5rem;
}
div.order-complete.done h3 {
  color: #FFEF4F;
  font-size: 1.75rem;
  margin: 0.5rem 0 0.75rem 0;
}
div.order-complete.dine p.submitter {
  position: absolute;
  width: 100%;
  z-index: 700;
}
p.submitter button {
  color: #D7FFFF;
  background: #5F38E8;
  font-size: 1.25rem;
  border: 0;
  padding: .3125rem 0.875rem 0.25rem 0.875rem;
  border-radius: 1.0rem;
  cursor:pointer;
}
p.submitter button:hover {
  background: #66D3E8;
}

/* footer */
div.monkik-icons {
  bottom: 0;
  font-size: 80%;
  left: 0;
  line-height: 1.0rem;
  position: absolute;
  text-align: center;
  width: 100%;
}
div.monkik-icons p {
  margin: 0.0625rem 0 0 0;
  color: #FFEF4F;
}
div.monkik-icons p a, div.monkik-icons p a:hover {
  text-decoration: none;
}

/* ingredient colors and icons */
/* local =  /taco/icons/ */
/* web =  /taco/taco/icons/ */
/* chicken */
.ingredients > ul > li > button.Chicken{
  background-image: url(/taco/icons/chicken.svg);
  background-color: #FFEEB6;
  color: #805B36;
} 
div.tacoIngredientContainer > ul > li > div.Chicken{
  background-color: #FFEEB6;
  color: #805B36;
}
div.tacoIngredientContainer > ul > li > div.Chicken:before{
  background-image: url(/taco/icons/chicken.svg);
}
/* beef */
.ingredients > ul > li > button.Beef{
  background-image: url(/taco/icons/cow.svg);
  background-color: #FFCCC6;
  color: #610010;
} 
div.tacoIngredientContainer > ul > li > div.Beef{
  background-color: #FFCCC6;
  color: #610010;
}
div.tacoIngredientContainer > ul > li > div.Beef:before{
  background-image: url(/taco/icons/cow.svg);
}
/* al Pastor */
.ingredients > ul > li > button.Pastor{
  background-image: url(/taco/icons/pig.svg);
  background-color: #FFD4D1;
  color: #8A0051;
} 
div.tacoIngredientContainer > ul > li > div.Pastor{
  background-color: #FFD4D1;
  color: #8A0051;
}
div.tacoIngredientContainer > ul > li > div.Pastor:before{
  background-image: url(/taco/icons/pig.svg);
}
/* fish */
.ingredients > ul > li > button.Fish{
  background-image: url(/taco/icons/fish.svg);
  background-color: #D9D8FF;
  color: #3B0073;
} 
div.tacoIngredientContainer > ul > li > div.Fish{
  background-color: #D9D8FF;
  color: #3B0073;
}
div.tacoIngredientContainer > ul > li > div.Fish:before{
  background-image: url(/taco/icons/fish.svg);
}
/* shrimp */
.ingredients > ul > li > button.Shrimp{
  background-image: url(/taco/icons/shrimp.svg);
  background-color: #FFEAF8;
  color: #635061;
} 
div.tacoIngredientContainer > ul > li > div.Shrimp{
  background-color: #FFEAF8;
  color: #635061;
}
div.tacoIngredientContainer > ul > li > div.Shrimp:before{
  background-image: url(/taco/icons/shrimp.svg);
}
/* tofu */
.ingredients > ul > li > button.Tofu{
  background-image: url(/taco/icons/tofu.svg);
  background-color: #FFFAF2;
  color: #73705C;
} 
div.tacoIngredientContainer > ul > li > div.Tofu{
  background-color: #FFFAF2;
  color: #73705C;
}
div.tacoIngredientContainer > ul > li > div.Tofu:before{
  background-image: url(/taco/icons/tofu.svg);
}
/* black beans */
.ingredients > ul > li > button.Black.Beans{
  background-image: url(/taco/icons/beans-b.svg);
  background-color: #bbb;
  color: #000;
} 
div.tacoIngredientContainer > ul > li > div.Black.Beans{
  background-color: #bbb;
  color: #000;
}
div.tacoIngredientContainer > ul > li > div.Black.Beans:before{
  background-image: url(/taco/icons/beans-b.svg);
}
/* pinto beans */
.ingredients > ul > li > button.Pinto.Beans{
  background-image: url(/taco/icons/beans-p.svg);
  background-color: #FBDBD6;
  color: #5C2806;
} 
div.tacoIngredientContainer > ul > li > div.Pinto.Beans{
  background-color: #FBDBD6;
  color: #5C2806;
}
div.tacoIngredientContainer > ul > li > div.Pinto.Beans:before{
  background-image: url(/taco/icons/beans-p.svg);
}
/* lettuce */
.ingredients > ul > li > button.Lettuce{
  background-image: url(/taco/icons/lettuce.svg);
  background-color: #D0FFDA;
  color: #277A4E;
} 
div.tacoIngredientContainer > ul > li > div.Lettuce{
  background-color: #D0FFDA;
  color: #277A4E;
}
div.tacoIngredientContainer > ul > li > div.Lettuce:before{
  background-image: url(/taco/icons/lettuce.svg);
}
/* tomato */
.ingredients > ul > li > button.Tomatoes{
  background-image: url(/taco/icons/tomato.svg);
  background-color: #FED3BD;
  color: #A32300;
} 
div.tacoIngredientContainer > ul > li > div.Tomatoes{
  background-color: #FED3BD;
  color: #A32300;
}
div.tacoIngredientContainer > ul > li > div.Tomatoes:before{
  background-image: url(/taco/icons/tomato.svg);
}
/* onion */
.ingredients > ul > li > button.Onions{
  background-image: url(/taco/icons/onion.svg);
  background-color: #FFFACC;
  color: #8A7E01;
} 
div.tacoIngredientContainer > ul > li > div.Onions{
  background-color: #FFFACC;
  color: #8A7E01;
}
div.tacoIngredientContainer > ul > li > div.Onions:before{
  background-image: url(/taco/icons/onion.svg);
}
/* cheese */
.ingredients > ul > li > button.Cheese{
  background-image: url(/taco/icons/cheese.svg);
  background-color: #FFF687;
  color: #8F6E01;
} 
div.tacoIngredientContainer > ul > li > div.Cheese{
  background-color: #FFF687;
  color: #8F6E01;
}
div.tacoIngredientContainer > ul > li > div.Cheese:before{
  background-image: url(/taco/icons/cheese.svg);
}
/* crema*/
.ingredients > ul > li > button.Crema{
  background-image: url(/taco/icons/drop-w.svg);
  background-color: #Fff;
  color: #205685;
} 
div.tacoIngredientContainer > ul > li > div.Crema{
  background-color: #Fff;
  color: #205685;
}
div.tacoIngredientContainer > ul > li > div.Crema:before{
  background-image: url(/taco/icons/drop-w.svg);
}
/* guac */
.ingredients > ul > li > button.Guacamole{
  background-image: url(/taco/icons/guac.svg);
  background-color: #E6FFB1;
  color: #597823
} 
div.tacoIngredientContainer > ul > li > div.Guacamole{
  background-color: #E6FFB1;
  color: #597823;
}
div.tacoIngredientContainer > ul > li > div.Guacamole:before{
  background-image: url(/taco/icons/guac.svg);
}
/* red salsa */
.ingredients > ul > li > button.Red.Salsa{
  background-image: url(/taco/icons/drop-r.svg);
  background-color: #FFCBBB;
  color: #782C1D;
} 
div.tacoIngredientContainer > ul > li > div.Red.Salsa{
  background-color: #FFCBBB;
  color: #782C1D;
}
div.tacoIngredientContainer > ul > li > div.Red.Salsa:before{
  background-image: url(/taco/icons/drop-r.svg);
}
/* green salsa*/
.ingredients > ul > li > button.Green.Salsa, div.tacoIngredientContainer > ul > li > div.Green.Salsa{
  background-color: #CAFAAE;
  color: #316911;
}
.ingredients > ul > li > button.Green.Salsa, div.tacoIngredientContainer > ul > li > div.Green.Salsa:before{
  background-image: url(/taco/icons/drop-g.svg);
}