body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFE4B8;
  color: #594429;
  touch-action: manipulation;
}

a, button {
    outline: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div#root {
  display: flex;
  flex-direction: column;
  max-width: 30.0rem;
  margin: 0 auto;
}

div#root > div {
  height: 40.0rem;
  background: radial-gradient(closest-side, #FEF3E5, #FFE4B8);
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 1.0rem;
  position: relative;
  text-align: center;
}

button.removeB {
  position: absolute;
  z-index: 3;
  right: 0.5rem;
  margin:0;
  padding: 0 0.5rem;
  height:2.0rem;
  font-size:1.5rem;
  font-weight:700;
  color: #fff9f5;
  background: #ab674f;
  border:0;
  border-radius: 0.25rem;
  text-align:center;
  cursor:pointer;
}
button.removeB:hover {
  background: #855841;
}


.flourStyle {
  background: #e3c084;
  margin:0 2%;
  display:inline-block;
  cursor:pointer;
} 
.torts.down > .flourStyle:hover , .torts.up > .flourStyle:hover {
  background: #E8CEA0;
}
.cornStyle {
  background: #f0e162;
  margin:0 0.25rem;
  display:inline-block;
  cursor:pointer;
} 
.torts.down > .cornStyle:hover , .torts.up > .cornStyle:hover {
  background: #FAE686;
}
.flourStyle > p, .cornStyle > p {
  color: #855841;
  font-weight: bold;
  font-size: 1.125rem;
}
.torts > div {
  width: 44%;
  padding-top: 30%;
  border-radius: 7rem;
  transition: .4s;
}
.torts.up > div {
  padding-top: 0;
  border-radius: 1.125rem;
  margin-top: -1.5rem;
}   
.torts.up > div p {
  margin: 0.5rem;
}
.torts > h1, .torts > p {
  opacity: 1.0;
  transition:.4s;
  min-height: 0.625rem;
}
.torts > h1{
  color: #ab674f;
  font-size: 2.4rem;
  margin: 1.5rem 0 0;
}

.torts > p  {
  font-size: 1.125rem;
}

.torts.up > h1, .torts.up > p {
  font-size: 10%;
  opacity: 0;
  margin: 0;
}
.ingredientsStyle {
  width:20rem;
  background:#ccc;
  margin:1rem 0 0 0;
  padding:0 1rem;
  min-height:0;
}
.ingredientsStyle button {
  width:4.625rem;
  height:2rem;
  margin:1rem;
  border-radius:1rem;
  border:0;
  color:#fff;
  font-size:1.25rem;
  cursor:pointer;
}
.ingredientsStyle button.green {
  background: green
} 
.ingredients{
  border: 0.03125rem #FEF3E5 solid;
  margin: 0.375rem 0 0;
  padding: 0 0.0625rem 0.0625rem 0;
}
.ingredients > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.ingredients > ul > li{
  display: inline;
}
.ingredients > ul > li > button{
  width: 25%;
  padding: 2.0rem 0 0.125rem 0;
  cursor: pointer;
  border: 0.03125rem #FEF3E5 solid;
  background-size: 1.625rem 1.625rem;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 0.25rem;
  font-size: 0.75rem;
}
.ingredients > ul > li > button:hover{
  background-color: #D7FFFF !important;
}
.ingreds-vis { 
  opacity:0;
  transition: .4s;
  height: 1.0rem;
  overflow: hidden;
} 
.ingreds-vis.show {
  opacity:1;
  height: 18rem;
}
div.tacoContainer {
  position:relative;
}
div.tacoContainer div.flourStyle > p, div.tacoContainer div.cornStyle > p, div.order-complete div.flourStyle > p, div.order-complete div.cornStyle > p {
  display: none;
}
div.order-complete.done > div:nth-child(2), div.tacoContainer > div:last-child {
  width: 17.5rem;
  height: 17.5rem;
  border-radius: 8.75rem;
  cursor: default;
}

div.tacoIngredientContainer {
  position: absolute;
  z-index: 2;
  top: O;
  left: 50%;
  transform: translateX(-50.75%);
  margin: 0.625rem 0.125rem 0 0.125rem;
  padding: 0;
  position: absolute;
}
div.tacoIngredientContainer > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 14.5rem;
  height: 16.25rem;
  overflow: hidden;
  border-radius: 8.5rem;
  display: flex;
  flex-direction: column-reverse;
}
div.tacoIngredientContainer > ul > li {
  border-top: .0625rem dashed #ab674f;
  text-align: left;
  position: relative;
}
div.tacoIngredientContainer > ul > li > div {
  padding: 0.125rem 0 0.1875rem 3.625rem;
}
@media all and (min-width: 340px) {
  div.tacoIngredientContainer > ul > li > div {
    padding: 0.25rem 0 0.1875rem 3.625rem;
  }
}
div.tacoContainer > div.tacoIngredientContainer > ul > li > div {
  cursor: pointer;
}
div.tacoIngredientContainer > ul > li:first-child > div{
  padding-bottom: 1.0rem;
}
div.tacoIngredientContainer > ul > li:nth-child(9)> div {
  padding-top: 1.75rem;
}
div.tacoContainer > div.tacoIngredientContainer > ul > li > div:hover {
  background-color: red !important;
}
div.tacoIngredientContainer > ul > li > div:before {
  content: "";
  float: left;
  width: 1.125rem;
  height: 1.375rem;
  margin: -0.25rem 0.375rem 0 0;
  background-repeat: no-repeat;
  background-position-y: 0.1875rem;
}
div.tacoIngredientContainer > ul > li:last-child {
  border-top: 0;
}
div.tacoIngredientContainer > ul > li div.ingIng {
  display:inline-block;
  margin:0;
  padding:.20625rem .5125rem;
  color: blue;
  font-size:.9rem;
  font-family:sans-serit;
  border:0;
  cursor:pointer;
}
div.tacoIngredientContainer > ul > li button {
  position: absolute;
  z-index: 3;
  top: -0.625rem;
  width: 100%;
  text-align: center;
  background: 0 0;
  border: 0;
  color: red;
  opacity: .6;
  font-size: 2.125rem;
  font-weight: 700;
  display: none;
  cursor: pointer;
}
div.tacoIngredientContainer>ul>li:hover button {
  display:block
}
div.tacoIngredientContainer>ul>li div.redIng{
  background:red
}
div.tacoIngredientContainer>ul>li div.blueIng{
  background:#00f
}
div.tacoIngredientContainer>ul>li div.greenIng{
  background:green
} 

div.order-complete {
  display: none;
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  border-radius: 1.0rem;
  padding: 4.375rem 0 0;
  opacity: 0;
  background: radial-gradient(closest-side, #FEF3E5, #FFE4B8);
  }

div.order-complete div.taco-rim {
  display: none;
  position: absolute;
  z-index: 1;
  height: 20.5rem;
  top: 2.90625rem;
  background-image: url(/taco/icons/taco-rim.svg);
  background-repeat: no-repeat;
  background-position: top center;
  animation-name: stretch;
  animation-timing-function: linear;
  animation-duration: 10.0s;
  animation-iteration-count: infinite;
  }

  @media all and (min-width: 320px) {
    div.order-complete div.taco-rim {
      display: block;
      width: 110%;
      margin-left: -5%;
    }
  }

  @media all and (min-width: 480px) {
    div.order-complete div.taco-rim {
      width: 20.5rem;
      margin-left: 14.75%; 
    }
  }
  
  @keyframes stretch {
    0% {
      -webkit-transform: rotate(0);
      /* background-size: 30.0rem 30.0rem; */
    }
    100% {
      -webkit-transform: rotate(360deg);
      /* background-size: 50.0rem 50.0rem; */
    }
  }

div.order-complete.done {
  display: block;
  opacity: 1;
  overflow-x: hidden;
}
p.submitter{
  margin-top: 0.5rem;
}

div.order-complete.done h3 {
  margin: 1.75rem 0 4.25rem 0;
}
 
div.order-complete.dine p.submitter {
  position: absolute;
  width: 100%;
  z-index: 700;
}
p.submitter button {
  color: #fff9f5;
  background: #ab674f;
  font-size: 1.25rem;
  border: 0;
  padding: .125rem 1.0rem;
  border-radius: 0.25rem;
  cursor:pointer;
}
p.submitter button:hover {
  background: #855841;
}

div.monkik-icons {
  text-align: center;
  font-size: 80%;
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* ingredient colors and icons */
/* chicken */
.ingredients > ul > li > button.Chicken{
  background-image: url(/taco/icons/chicken.svg);
  background-color: #FFEEB6;
  color: #805B36;
} 
div.tacoIngredientContainer > ul > li > div.Chicken{
  background-color: #FFEEB6;
  color: #805B36;
}
div.tacoIngredientContainer > ul > li > div.Chicken:before{
  background-image: url(/taco/icons/chicken.svg);
}

/* beef */
.ingredients > ul > li > button.Beef{
  background-image: url(/taco/icons/cow.svg);
  background-color: #FFCCC6;
  color: #610010;
} 
div.tacoIngredientContainer > ul > li > div.Beef{
  background-color: #FFCCC6;
  color: #610010;
}
div.tacoIngredientContainer > ul > li > div.Beef:before{
  background-image: url(/taco/icons/cow.svg);
}

/* al Pastor */
.ingredients > ul > li > button.Pastor{
  background-image: url(/taco/icons/pig.svg);
  background-color: #FFD4D1;
  color: #8A0051;
} 
div.tacoIngredientContainer > ul > li > div.Pastor{
  background-color: #FFD4D1;
  color: #8A0051;
}
div.tacoIngredientContainer > ul > li > div.Pastor:before{
  background-image: url(/taco/icons/pig.svg);
}

/* fish */
.ingredients > ul > li > button.Fish{
  background-image: url(/taco/icons/fish.svg);
  background-color: #D9D8FF;
  color: #3B0073;
} 
div.tacoIngredientContainer > ul > li > div.Fish{
  background-color: #D9D8FF;
  color: #3B0073;
}
div.tacoIngredientContainer > ul > li > div.Fish:before{
  background-image: url(/taco/icons/fish.svg);
}

/* shrimp */
.ingredients > ul > li > button.Shrimp{
  background-image: url(/taco/icons/shrimp.svg);
  background-color: #FFEAF8;
  color: #635061;
} 
div.tacoIngredientContainer > ul > li > div.Shrimp{
  background-color: #FFEAF8;
  color: #635061;
}
div.tacoIngredientContainer > ul > li > div.Shrimp:before{
  background-image: url(/taco/icons/shrimp.svg);
}

/* tofu */
.ingredients > ul > li > button.Tofu{
  background-image: url(/taco/icons/tofu.svg);
  background-color: #FFFAF2;
  color: #73705C;
} 
div.tacoIngredientContainer > ul > li > div.Tofu{
  background-color: #FFFAF2;
  color: #73705C;
}
div.tacoIngredientContainer > ul > li > div.Tofu:before{
  background-image: url(/taco/icons/tofu.svg);
}

/* black beans */
.ingredients > ul > li > button.Black.Beans{
  background-image: url(/taco/icons/beans-b.svg);
  background-color: #bbb;
  color: #000;
} 
div.tacoIngredientContainer > ul > li > div.Black.Beans{
  background-color: #bbb;
  color: #000;
}
div.tacoIngredientContainer > ul > li > div.Black.Beans:before{
  background-image: url(/taco/icons/beans-b.svg);
}

/* pinto beans */
.ingredients > ul > li > button.Pinto.Beans{
  background-image: url(/taco/icons/beans-p.svg);
  background-color: #FBDBD6;
  color: #5C2806;
} 
div.tacoIngredientContainer > ul > li > div.Pinto.Beans{
  background-color: #FBDBD6;
  color: #5C2806;
}
div.tacoIngredientContainer > ul > li > div.Pinto.Beans:before{
  background-image: url(/taco/icons/beans-p.svg);
}

/* lettuce */
.ingredients > ul > li > button.Lettuce{
  background-image: url(/taco/icons/lettuce.svg);
  background-color: #D0FFDA;
  color: #277A4E;
} 
div.tacoIngredientContainer > ul > li > div.Lettuce{
  background-color: #D0FFDA;
  color: #277A4E;
}
div.tacoIngredientContainer > ul > li > div.Lettuce:before{
  background-image: url(/taco/icons/lettuce.svg);
}

/* tomato */
.ingredients > ul > li > button.Tomatoes{
  background-image: url(/taco/icons/tomato.svg);
  background-color: #FED3BD;
  color: #A32300;
} 
div.tacoIngredientContainer > ul > li > div.Tomatoes{
  background-color: #FED3BD;
  color: #A32300;
}
div.tacoIngredientContainer > ul > li > div.Tomatoes:before{
  background-image: url(/taco/icons/tomato.svg);
}

/* onion */
.ingredients > ul > li > button.Onions{
  background-image: url(/taco/icons/onion.svg);
  background-color: #FFFACC;
  color: #8A7E01;
} 
div.tacoIngredientContainer > ul > li > div.Onions{
  background-color: #FFFACC;
  color: #8A7E01;
}
div.tacoIngredientContainer > ul > li > div.Onions:before{
  background-image: url(/taco/icons/onion.svg);
}

/* cheese */
.ingredients > ul > li > button.Cheese{
  background-image: url(/taco/icons/cheese.svg);
  background-color: #FFF687;
  color: #8F6E01;
} 
div.tacoIngredientContainer > ul > li > div.Cheese{
  background-color: #FFF687;
  color: #8F6E01;
}
div.tacoIngredientContainer > ul > li > div.Cheese:before{
  background-image: url(/taco/icons/cheese.svg);
}

/* crema*/
.ingredients > ul > li > button.Crema{
  background-image: url(/taco/icons/drop-w.svg);
  background-color: #Fff;
  color: #205685;
} 
div.tacoIngredientContainer > ul > li > div.Crema{
  background-color: #Fff;
  color: #205685;
}
div.tacoIngredientContainer > ul > li > div.Crema:before{
  background-image: url(/taco/icons/drop-w.svg);
}

/* guac */
.ingredients > ul > li > button.Guacamole{
  background-image: url(/taco/icons/guac.svg);
  background-color: #E6FFB1;
  color: #597823
} 
div.tacoIngredientContainer > ul > li > div.Guacamole{
  background-color: #E6FFB1;
  color: #597823;
}
div.tacoIngredientContainer > ul > li > div.Guacamole:before{
  background-image: url(/taco/icons/guac.svg);
}

/* red salsa */
.ingredients > ul > li > button.Red.Salsa{
  background-image: url(/taco/icons/drop-r.svg);
  background-color: #FFCBBB;
  color: #782C1D;
} 
div.tacoIngredientContainer > ul > li > div.Red.Salsa{
  background-color: #FFCBBB;
  color: #782C1D;
}
div.tacoIngredientContainer > ul > li > div.Red.Salsa:before{
  background-image: url(/taco/icons/drop-r.svg);
}

/* green salsa*/
.ingredients > ul > li > button.Green.Salsa{
  background-image: url(/taco/icons/drop-g.svg);
  background-color: #CAFAAE;
  color: #316911;
} 
div.tacoIngredientContainer > ul > li > div.Green.Salsa{
  background-color: #CAFAAE;
  color: #316911;
}
div.tacoIngredientContainer > ul > li > div.Green.Salsa:before{
  background-image: url(/taco/icons/drop-g.svg);
}


/* new drag and drop */

.AppDrag {
  text-align: center;
  width: 95%;
  margin: 15px auto;
}

.container-drag {
  text-align: center;
}

.one {
  position: relative;
  width: 100%;
  height: 10.0rem;
  background-color: #EEEEEE;
  border-right: 1px dotted;
}

.two {
  position: relative;
  width: 100%;
  height: 10.0rem;
  background-color: #333;
  border-right: 1px dotted;
}

.three {
  position: relative;
  width: 100%;
  height: 10.0rem;
  background-color: #999;
  border-right: 1px dotted;
}

.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #E0E0E0;
  width:100%;
}

.task-header {
  display: inline-block;
  background-color: skyblue;
  width:100%;
}

.droppable {
  position: absolute;
  width: 150px;
  height: 100vh;
  right: 0;
  top: 10;
  background-color: #9E9E9E;
  border-left: 1px dotted;
}

.draggable {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 5px auto;
  line-height: 5em;
}